# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.MyProject2.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Hugo.Lindroth\Documents\Unreal Projects\MyProject2\.idea\.idea.MyProject2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
